@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #FFFFFF;
    --text-color: #00D5E4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid gold; */
}   

body {
    background: #2D2D2D;
}

a {
    text-decoration: none;
}

span {
    color: var(--text-color);
}

.block {
    max-width: 440px;
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 126%;
    text-align: center;
    margin-top: 30px;
    margin-left: 240px;
    padding: 10px 5px 10px 10px;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.container {
    max-width: 1470px;
    margin: 0 auto;
}

.header {
    border-bottom: #575555 1px solid;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 15px;
}

.header__links {
    display: flex;
    list-style-type: none;
}

.header__item {
    padding-right: 36px;
}

.header__item-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--main-color);
}

.banner__container {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    margin-bottom: 120px;
}

.banner__main {
    display: flex;
    justify-content: space-between;
}

.banner__title {
    display: block;
    max-width: 700px;
}

.banner__subtitle {
    display: block;
    width: 540px;
    margin-top: 159px;
}

.banner__discount {
    display: flex;
    justify-content: center;
}

.banner__title__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 122.5%;
    text-transform: uppercase;
    color: var(--main-color);
}

.banner__subtitle__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 126%;
    color: var(--main-color);
}

.features__container {
    max-width: 940px;
    text-align: center;
    margin-bottom: 98px;
    padding: 0px 15px;
}

.features__title__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 126%;
    color: var(--main-color);
}

.advantage__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15px;
    margin-bottom: 151px;
}

.advantage__item__first {
    width: 821px;
    margin-bottom: 15px;
    list-style-type: none;
}

.advantage__item__second {
    width: 645px;
    margin-bottom: 30px;
    list-style-type: none;
}

.advantage__item__third {
    padding-left: 130px;
    margin-right: 30px;
    margin-bottom: 23px;
    background: url(../img/pm.svg) no-repeat 0 4px;
}

.advantage__item__fourth {
    padding-left: 130px;
    background: url(../img/co.svg) no-repeat 0 4px;
}

.advantage__item__fivth {
    padding-left: 130px;
    margin-right: 30px;
    background: url(../img/no.svg) no-repeat 0 4px;
}

.advantage__item__sixth {
    max-width: 260px;
    padding-left: 130px;
    background: url(../img/co2.svg) no-repeat 0 4px;
}

.advantage__card {
    display: flex;
    flex-wrap: wrap;
    width: 762px;
}

.advantage__item {
    display: flex;
    align-items: center;
    width: 356px;
    height: 114px;
    list-style-type: none;
}

.advantage__img {
    position: absolute;
    top: -80px;
    left: 900px
}

.advantage__title__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 141.5%;
    text-transform: uppercase;
    color: var(--main-color);
}

.advantage__subtitle__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: var(--main-color) ;
}

.advantage__item-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140.5%;
    color: var(--main-color);
}

.expenses__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px;
    margin-bottom: 120px;
}

.expenses__table {
    display: flex;
    flex-wrap: nowrap;
    padding: 30px 0;
}

.expenses__choose {
    display: flex;
    flex-direction: column;
}

.expenses__margin {
    margin-right: 10px;
}

.expenses__item__blue {
    border: 2px solid var(--text-color);
}

.expenses__item {
    border: 2px solid var(--main-color);
}

.expenses__big__frame-size {
    width:260px;
    height: 50px;
}

.expenses__block {
    margin: 0;
    padding-right: 10px;
}

.expenses__bg {
    background: #353535;
}

.expenses__title__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--main-color);
}

.expenses__table__form__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #B3A8A8;
    padding-left: 10px;

}

.expenses__table__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--main-color);
}

.expenses__table__blue-text {
    color: var(--text-color);
}

.animation {
    white-space: nowrap;
    padding-bottom: 369px;
}

.animation__text {
    position: absolute;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 140.5%;
    text-align: center;
    color: #2D2D2D;
    -webkit-text-stroke: 2px var(--text-color);
}


.benefits__container {
    max-width: 1500px;
    padding: 0 15px;
    margin-bottom: 120px;
}

.benefits__cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.benefits__item {
    max-width: 460px;
    height: 220px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.benefits__item__first {
    background: url(../img/engine.svg) no-repeat 30px 30px;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 38px;
}

.benefits__item__second {
    background: url(../img/service.svg) no-repeat 30px 30px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 126px;
}

.benefits__item__third {
    background: url(../img/star.svg) no-repeat 30px 30px;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 38px;
}

.benefits__item__fourth {
    background: url(../img/discount.svg) no-repeat 30px 30px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 73px;
}

.benefits__item__fivth {
    background: url(../img/like.svg) no-repeat 30px 30px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 279px;
}

.benefits__item__sixth {
    background: url(../img/earth.svg) no-repeat 30px 30px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 241px;
}

.benefits__item__seventh {
    background: url(../img/monetization.svg) no-repeat 30px 15px;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 38px;
    padding-bottom: 30px;
}

.benefits__item__eighth {
    background: url(../img/co_2.svg) no-repeat 30px 30px;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 38px;
}

.benefits__bg {
    background-color: #353535;
}

.benefits__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--main-color);
    list-style-type: none;
}

.benefits__item__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: var(--main-color);
    list-style-type: none;
    display: flex;
    align-items: center;
}

.benefits__title__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
}

.benefits__subtitle__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 140%;
}

.description__container {
    height: 911px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.description__left_part {
    margin-top: 81px;
    margin-right: 127px;
}

.description__right_part {
    margin-top: 209px;
}

.description__title {
    width: 738px;
    margin-bottom: 28px;
}

.description__subtitle {
    margin-bottom: 45px;
}

.description__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #575555;
}

.description__list__item {
    padding: 20px 0 20px 30px;
}

.description__list__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 141.5%;
    text-transform: uppercase;
}

.description__bg {
    background-color: #0C0A0A;
}

.description__subtitle__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 121%;
    color: var(--main-color);
}

.description__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 121%;
    color: var(--main-color);
    list-style-type: none;
}

.description__title__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 141.5%;
    text-transform: uppercase;
    color: var(--main-color);
}

.product__container {
    display: flex;
    flex-direction: column;
    padding-right: 0 15px;
    margin-bottom: 120px;
}

.product-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.product__arrows {
    padding-top: 100px;
    padding-right: 30px;
}

.product__title {
    width: 495px;
}

.product-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.product__cards {
    position: relative;
    width: 476px;
    height: 472px;
    animation-name: visible;
    animation-fill-mode: forwards;
    animation-duration: 0s;
    animation-delay: 6s;
    opacity: 0;
}

.product__cards__first {
    position: relative;
    background-image: url(../img/scania.png);
    margin-right: 6px;
}

.product__cards__second {
    position: relative;
    background-image: url(../img/man_tga.png);
    margin-right: 6px;
}

.product__cards__third {
    position: relative;
    background-image: url(../img/man.png);
}

.product__cards__item__top {
    position: absolute;
    padding-top: 17px;
    padding-left: 30px;
    width: 100%;
    top: 378px;
    
}

.product__cards__item__bottom {
    position: absolute;
    padding-top: 56px;
    padding-left: 30px;
    width: 100%;
    top: 378px;
}

.loader {
    position: absolute;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 460px;
    height: 460px;
    animation: spin 2s linear 3;
    animation-fill-mode: forwards;
}

.loader-first {
    left: 235px;
}

.loader-second {
    left: 720px;
}

.loader-third {
    right: 260px;
}


.visible {
    animation-name: visible;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 6s;
}

@keyframes spin {

    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        visibility: hidden;
    }
}

@keyframes visible {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.product__cards__bg__top {
    background: linear-gradient(#1d1d1dc2 ,#000000);
    height: 98px;
}

.product__cards__bg__bottom {
    background: linear-gradient(#ffffff00 ,#00000000);
    height: 98px;
}

.product__title__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--main-color);
}

.product__big__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 140%;
    list-style-type: none;
    color: var(--main-color);
}

.product__small__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    list-style-type: none;
    color: var(--main-color);
}

.steps__container {
    height: 529px;
    padding: 0 15px;
    margin-bottom: 120px;
}

.steps__bottom {
    display: flex;
    position: relative;
    margin-top: 60px;
}

.step__size {
    width: 460px;
    height: 260px;
    margin-right: 30px;
}

.step__first {
    position: relative;
}

.arrow-1 {
    position: absolute;
    top: 265px;
    right: -30px;
}

.step__second {
    position: relative;
    margin-top: 120px;
}

.arrow-2 {
    position: absolute;
    top: -105px;
    right: -30px;
}

.step__third {
    position: relative;

}

.steps__big {
    padding-left: 30px;
    padding-top: 18px;
}

.steps__small {
    display: block;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 25px;
}

.steps__bg {
    background: #353535;
}

.link-position {
}

.steps__link-big {
    padding: 15px 170px 22px 30px;
}

.steps__link-small {
    padding: 35px 220px 0 30px;
}

.steps__link-small-another {
    padding: 73px 220px 0 30px;
}

.steps__block {
    margin: 0;
    width: 100%;
}

.steps__big__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 141.5%;
    text-transform: uppercase;
}

.steps__small__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 141.5%;
    color: var(--main-color);
}

.bold {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 141.5%;
    color: var(--main-color);
}

.steps__title__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 141.5%;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.footer__container {
    display: flex;
    flex-direction: column;
    height: 302px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 23px;
    border-bottom: 1px solid #353535;
}

.footer__adress {
    padding-top: 20px;
    width: 303px;
}


.footer__social__table {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.footer__social {
    padding-top: 50px;
}

.footer__social-item {
    padding-right: 15px;
}

.footer__social-item__last-child {
    padding-right: 140px;
}

.footer__mail {
    display: flex;
    flex-direction: column;
}

.footer__mail__item {
    padding-bottom: 5px;
    padding-top: 15px;
}

.footer__mail__item-link {
    padding-bottom: 5px;
}

.underline {
    border-bottom: 1px solid var(--main-color);
}

.footer__bottom__text {
    padding-top: 25px;
}

.footer__bg {
    background-color: #0C0A0A;
}

.footer__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 141.5%;
    color: var(--main-color);
}

.footer__text__blue {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 141.5%;    
}

.footer__big__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 141.5%;
    text-align: center;
    color: var(--main-color);
}